{% extends 'base.html' %}
{% block header %}
    <h1 class="add-server-title">
        {% block title %}Delete Server{% endblock %}
    </h1>
{% endblock %}
{% block content %}
    <div class="delete-server">
        <div class="server-list">
            {% if user_servers is not none %}
                <table id="servers">
                    <tr>
                        <th></th>
                        <th>Server</th>
                    </tr>
                    <form id="delete-server" method="post">
                        {% for user_server in user_servers %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="servers" value="{{ user_server.server }}">
                                </td>
                                <td>{{ user_server.server }}</td>
                                <!-- <br /> -->
                            </tr>
                        {% endfor %}
                    </form>
                </table>
                <input type="submit"
                       form="delete-server"
                       class="delete-server-button"
                       value="Delete">
            {% else %}
                <h3>No server records found</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}
