/* Resets */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* General Styles */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c37;
  color: #ffffff;
  padding-top: 60px;
}

h1 {
  color: #ffffff;
  margin-bottom: 1em;
}

a {
  color: #8c8dff;
}

/* Navigation Bar Styles */
.navbar {
  background-color: #1D0023E6;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

.navbar-container {
  width: 90%;
  margin: auto;
  padding: 1rem 0;
}

.logo {
  font-size: 35px;
  font-weight: 600;
  color: white;
  padding: 0.5rem 1rem;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-links li {
  display: inline-block;
  margin: 0 10px;
}

.nav-links a, .navbar a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  display: block;
}

.nav-links a:hover, .navbar a:hover, li a:hover {
  text-decoration: underline;
}

/* Status Styles */
.status {
  animation: fade 0.15s linear;
  border-bottom: 1px solid #393f4f;
  cursor: auto;
  min-height: 54px;
  opacity: 1;
  padding: 16px;
}

.status-info {
  align-items: center;
  display: flex;
  font-size: 15px;
  gap: 10px;
  line-height: 22px;
  max-width: 100%;
  overflow: hidden;
}

.status-content {
  word-wrap: break-word;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  overflow: hidden;
  padding-top: 2px;
  position: relative;
  text-overflow: ellipsis;
}

.status-content p {
  margin-bottom: 22px;
  unicode-bidi: plaintext;
  white-space: pre-wrap;
}

.status-avatar, .profile-picture {
  height: 46px;
  width: 46px;
  border-radius: 100%;
}

.account-avatar img, img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Input and Button Styles */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #34495e;
  border-radius: 4px;
  margin-bottom: 1rem;
  color: black;
  background-color: #282c37;
  color: #ffffff;
}

input[type="submit"] {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background-color: #3498D8;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #2980b9;
}

/* Flash Messages Styles */
.flash {
  background-color: #f2dede;
  color: #a94442;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border: 1px solid #ebccd1;
  border-radius: 4px;
}

/* Additional Styles */
.add-server-title, .enter-domain, .form-title {
  text-align: center;
}

.add-server-btn {
  margin-top: 10px;
  background-color: #6364ff;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.add-server-btn:hover {
  background-color: #563acc;
  cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    width: 90%;
    margin: 10px;
  }
}
